.App {
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-color: #0E0F37;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li {
  list-style: none;
}
.steam {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 150px;
  background-color:#778899;
}
.epic {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 150px;
  background-color: rgb(106, 106, 124);
}
.imgCell {
  overflow: hidden;
  width: 100px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgCellEpic {
  overflow: hidden;
  background-color: #282c34;
  width: 100px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forImg {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.dataTitle {
  margin-left: 10px;
  width: 250px;
}
a {
  text-decoration: none;
  color: black;
}
.nomalPrice {
  margin-left: 10px;
  width: 100px;
  text-align: left;
}
.discountRate {
  margin-left: 10px;
  width: 120px;
  text-align: left;
}
.discountedPrice {
  margin-left: 10px;
  width: 100px;
  text-align: left;
}
.Ratings {
  margin-left: 10px;
  width: 240px;
  text-align: left;
}
