.App {
  text-align: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
li {
  list-style: none;
  align-items: center;
  justify-content: center;
}
.forSteamData {
  display: flex;
  flex-direction: row;
  height: 60px;
}
.dataimg {
  object-fit: fill;

  margin-left: 10px;
  width: 100px;
  height: 40px;
}
.forSteamData .dataTitle {
  margin-left: 10px;
  width: 250px;
}
.forSteamData .nomalPrice {
  margin-left: 10px;
  width: 100px;
  text-align: left;
}
.forSteamData .discountRate {
  margin-left: 10px;
  width: 120px;
  text-align: left;
}
.forSteamData .discountedPrice {
  margin-left: 10px;
  width: 100px;
  text-align: left;
}
.forSteamData .Ratings {
  margin-left: 10px;
  width: 240px;
  text-align: left;
}

.forImg {
  object-fit: fill;
}
